body {
    
    /*background: #A770EF;
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);*/
    

    background: url('https://i.pinimg.com/originals/1b/70/61/1b7061e57ff4edde0b2d1628e508b6c4.jpg');
    background-attachment: fixed;

}

.navbar-brand {
    font-family: 'Viga', Arial;
    font-size: 1.5rem;
}

.nav-link {
    text-transform: uppercase;
    font-family: 'Viga', Arial;
}

header img {
    width: 60%;
}


/* Página de inicio*/

.container {
    padding: 50px;
    padding-top: 20px;
    display: block;
}

.container .image {
    float: left;
    width: 49%;
}

.video {
    list-style: none;
    display: block;
    float: left;
    width: 28%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#lista li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}